<nav class="navbar navbar-light bg-light justify-content-space_between">
    <a class="Wseries" href="#">
        <img src="{{ asset('build/images/logoWCS.png') }}" width="110" height="30" class="d-inline-block "
            alt="">
        Wild Séries
    </a>
    <a class="series" href="#">
        Nos séries
    </a>
    <a class="connection" href="#">
        Connexion
    </a>
</nav>